{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title%}
    <link rel="stylesheet" href="{% static 'global/css/style.css'%}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    {% block style %}{% endblock style %}
</head>

<body>
    <header>
        <img src="../static/global/images/logo1.jpg" alt="Header Image">
        <nav>
            <ul>
                <li><a href="{% url 'contact:index' %}">Inicio</a></li>
                <li><a href="{% url 'contact:about' %}">Sobre</a></li>
                <li><a href="{% url 'contact:services' %}">Serviços</a></li>
                <li><a href="{% url 'contact:store' %}">Espaço</a></li>
                <li><a href="{% url 'contact:contacts' %}">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock main %}
    </main>
        {% block map %}{% endblock map %}
    <footer>
        <h6>Developed by Vieira Software</h6>
    </footer>
</body>

</html>