/* Navbar Formating Begin*/

nav {
    display: flex; /* Show the navbar when it is targeted and use flexbox */
    justify-content: center; /* Center the navbar horizontally */
  }

  
nav ul {
    list-style: none; /* Remove default list styles */
    display: flex; /* Use flexbox to arrange the list items horizontally */
  }
  
nav li {
    margin-right: 40px; /* Add some spacing between list items */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
nav li:last-child {
    margin-right: 0; /* Remove right margin from the last list item */
  }
  
nav a {
    text-decoration: none; /* Remove underline from links */
    color: lightseagreen; /* Set the link color */
  }

@media (max-width: 767px) {
    /* Apply different settings for mobile devices with a maximum width of 600px */
    nav{
        display: none;
    }
    nav li {
        margin-right: 15px; /* Add some spacing between list items */
    }
  }

/* Navbar Formating End*/

header {
    position: relative;
    z-index: 2;
  }

header img {
    display: block; /* make the image a block-level element */
    width: 100%; /* stretch the image horizontally to cover the entire header */
    height: 30vh; /* maintain the image's aspect ratio */
    margin: 0; /* remove any default margins */
    top: 0; /* position the image at the top */
    left: 0; /* position the image at the left */
  }

@media (max-width: 767px) {
    /* Apply different settings for mobile devices with a maximum width of 600px */
    header img {
    height: 8vh; /* Adjust the height for mobile */
    }
  }
  

body{
    background-image: url('../images/foto1.jpg');
    background-repeat: no-repeat; /* prevent image from repeating */
    background-position: center top; /* position the image at the center */
    background-size: cover; /* scale the image to cover the entire body */
    
}

.gallery {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    margin-top: 20px; /* Adjust the margin as needed */
    position: relative; /* Add this positioning */
    top: 1070px;
    z-index: 2; /* Add this z-index */
  }
@media (max-width: 767px) {
    .gallery {
        top: 200px;
      }
  }
  
.gallery img {
    flex: 0 0 100%;
    max-width: 100%;
    height: 40vw;
    animation: slideAnimation 10s infinite;
  }
  
@keyframes slideAnimation {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0);
    }
  }

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}